diffusers==0.27.2
accelerate==0.28.0
opencv-python==4.9.0.80
soundfile==0.12.1
transformers==4.39.2
huggingface_hub==0.25.2
librosa==0.10.1
einops==0.7.0
gdown
imageio[ffmpeg]
omegaconf==2.3.0
ffmpeg-python==0.2.0
moviepy==1.0.3
tqdm==4.66.3
requests==2.32.2
peft==0.10.0